$primary-blue: #3097e5;
$primary-charcoal: #333333;
$primary-dark-grey: #717171;
$primary-grey: #cdcdcd;

$secondary-light-blue: #99d4d9;
$secondary-pale-blue: #d9f6f8;
$secondary-light-grey: #f8f8f8;
$secondary-white: #ffffff;
