@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "style/breakpoints";

#UserDetailsForm {
  font-family: Open Sans, sans-serif;

  display: flex;
  height: 100%;
  background: black;

  form {
    margin: auto;
    min-width: 375px;
    width: 40%;
    height: 80%;
    background: #f5f5fa;
    box-shadow: inset 5px 5px 10px #fbfbfb, inset -5px -5px 10px #d5d5d5;
    border-radius: 15px;
    overflow-y: auto;

    @media screen and (max-width: $breakpoint-mobile) {
      height: 100%;
      border-radius: 0;
    }

    input {
      background: transparent;
      line-height: 3em;
      padding: 0.5em 1.5em;
    }

    button {
      background: #f5f5fa;
      width: 216px;
      height: 64px;

      box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
      5px 5px 10px rgba(170, 170, 204, 0.25),
      10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #ffffff;
      border-radius: 16px;
    }

    .select-label {
      width: 60%;
      position: relative;
      &:after {
        content: "▼";
        position: absolute;
        right: 12px;
        top: 8px;
        font-size: 1.25em;
        color: #333333;
      }
    }

    select {
      margin-bottom: 1.5em;
      width: 100%;
      height: 3em;
      padding-left: 1em;
      appearance: none;
      background: #f5f5fa;
      box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
      5px 5px 10px rgba(170, 170, 204, 0.25),
      10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #ffffff;
      border-radius: 16px;
    }

    .inset-shadow {
      background: #f5f5fa;
      box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(170, 170, 204, 0.25),
      inset 5px 5px 10px rgba(170, 170, 204, 0.5),
      inset -5px -5px 10px #ffffff;
      border-radius: 20px;
      width: 80%;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    .row {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
